<div id="audio_uploads" class="transitions-enabled">
  <% @audio_uploads.each do |audio_upload| %>
    <div class="box panel panel-default">
        <%= image_tag audio_upload.image.url(:medium) %>
        <div class="panel-body">
        <%= audio_upload.artist_name %>
        <%= audio_upload.track_name %>
        <%= audio_upload.user.email if audio_upload.user %>
        <%= link_to 'Play', audio_upload_path(audio_upload) %>
        <% if audio_upload.user == current_user %>
          <%= link_to 'Edit', edit_audio_upload_path(audio_upload) %>
          <%= link_to 'Destroy', audio_upload, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>  




