<p><%= image_tag @audio_upload.image.url(:medium) %></p>
<p><%= audio_tag @audio_upload.audio, :type => "audio/mp3", :controls => true, autoplay: true %></p>
<p>
  <strong>Artist Name:</strong>
  <%= @audio_upload.artist_name %>
</p>

<p>
  <strong>Track Name:</strong>
  <%= @audio_upload.track_name %>
</p>

<% if @audio_upload.user == current_user %>
	<%= link_to 'Edit', edit_audio_upload_path(@audio_upload) %> |
<% end %>
<%= link_to 'Back', audio_uploads_path %>

